.swagger-ui {
    margin-bottom: 6em;
}

.swagger-ui .wrapper {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.swagger-ui .info {
    margin: 20px 0;
}

.swagger-ui .scheme-container {
    margin: 0;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
}

.swagger-ui .topbar .download-url-wrapper .select-label {
    color: #f0f0f0;
    display: flex;
    align-items: center;
    max-width: 300px;
    margin: 0;
}

.swagger-ui .topbar .download-url-wrapper .select-label span {
    flex: none;
    font-size: 15px;
    padding: 0px 6px 0 0;
}

.swagger-ui .topbar .download-url-wrapper .select-label select {
    flex: 1;
    border: 2px solid #62a03f;
    outline: none;
    box-shadow: none;
}

.swagger-ui .filter-container {
    padding: 0 10px;
    width: 100%;
}

.swagger-ui .filter-container section.filter {
    display: flex;
    padding: 0;
}

.swagger-ui .filter-container section.filter button {
    flex: auto;
    width: 50px;
    margin: 9px 4px;
    padding: 5px 8px;
}

.swagger-ui .filter-container section.filter .operation-filter-input {
    flex: 1 auto;
    margin: 8px auto;
    display: block;
    padding: 6px;
    border: 2px solid #d8dde7;
}

.swagger-ui .btn.authorized {
    border: 2px solid red;
    color: red;
}

.swagger-ui .btn.authorize span {
    float: left;
    padding: 4px 6px 0 0;
}

.swagger-ui .auth-wrapper .auth {
    width: 75px;
    max-width: 75px;
    padding-right: 20px;
    margin-right: 10px;
}

.swagger-ui .opblock-body select {
    min-width: 6em;
}

.swagger-ui table tbody tr td:first-of-type {
    min-width: 10em;
}

.swagger-ui .parameters-col_description input[type=number] {
    font-weight: bold;
    width: 100%;
    max-width: 340px;
    min-width: 100px;
    margin: 5px 0;
    padding: 8px 10px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background: #fff;
}

.swagger-ui .auth-container .wrapper code {
    font-size: 12px;
}

.selectBox {
    margin: 50px auto;
    width: 180px;
    text-align: center;
}
.selectBox a {
    color: #fff;
    text-decoration: none;
}

.selectBox ul, .selectBox li {
    list-style: none;
}

.selectBox span {
    line-height: 46px;
    background-color: #41b1d9;
    display: block;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.selectBox span a:after {
    content: " ";
    display: inline-block;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-bottom: solid 6px #fff;
    border-left: solid 4px transparent;
    border-right: solid 4px transparent;
    vertical-align: 3px;
    margin-left: 10px;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.drop {
    left: 0;
    right: 0;
    top: -9999px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.selectBox:hover span {
    background-color: #1f93bc;
}

.selectBox:hover span a:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.selectBox:hover .drop {
    position: static;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.drop li:first-child:before {
    content: " ";
    font-size: 0;
    line-height: 0;
    margin: 0 auto;
    display: block;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    top: -5px;
    z-index: 1;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.drop li a {
    color: #888;
    line-height: 46px;
    border-bottom: solid 1px #eee;
    font-size: 14px;
    display: block;
    background-color: #fff;
    position: relative;
    z-index: 2;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.drop li:first-child a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: -10px;
}

.drop li:last-child a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: none;
}

.drop li:hover:before {
    background-color: #41b1d9;
}

.drop li:hover a {
    background-color: #41b1d9;
    color: #fff;
}
